<header class="app-header">
  <div class="title">
    <h1>PagFut</h1>
  </div>
</header>

<div class="cadastro-container">
  <mat-card class="cadastro-card">
    <mat-card-header>
      <mat-card-title>Novo Cadastro</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form  #f="ngForm" class="cadastro-form" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline">
          <mat-label>Nome de Usuário</mat-label>
          <input 
            matInput 
            type="text" 
            placeholder="Escolha um nome de usuário" 
            [(ngModel)]="username" 
            name="username"
            required
          >
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input 
            matInput 
            type="email" 
            placeholder="seu@email.com" 
            [(ngModel)]="email" 
            name="email"
            required
          >
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input 
            matInput 
            [type]="hidePassword ? 'password' : 'text'" 
            placeholder="Crie sua senha" 
            [(ngModel)]="password" 
            name="password"
            required
          >
          <button 
            mat-icon-button 
            matSuffix 
            (click)="hidePassword = !hidePassword" 
            type="button" 
            [attr.aria-label]="'Alternar visibilidade'" 
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmar Senha</mat-label>
          <input 
            matInput 
            [type]="hideConfirmPassword ? 'password' : 'text'" 
            placeholder="Repita sua senha" 
            [(ngModel)]="confirmPassword" 
            name="confirmPassword"
            required
          >
          <button 
            mat-icon-button 
            matSuffix 
            (click)="hideConfirmPassword = !hideConfirmPassword" 
            type="button" 
            [attr.aria-label]="'Alternar visibilidade'" 
            [attr.aria-pressed]="hideConfirmPassword"
          >
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button 
          mat-raised-button 
          color="primary" 
          type="submit" 
          class="cadastro-button"
          [disabled]="f.invalid || loading"
        >
        <span *ngIf="!loading">Cadastrar</span>
        <mat-spinner *ngIf="loading"  color="primary" diameter="15"></mat-spinner>
        </button>
      </form>
      <div class="login-link">
            Já tem uma conta? <a>Fazer Login</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>