<div class="match-container" *ngIf="matchData">
  <!-- Botão Voltar no Topo -->
  <div class="top-navigation">
    <button mat-button color="primary" class="back-to-lobby-btn" (click)="goToLobby()">
      <mat-icon>arrow_back</mat-icon>
      Voltar ao Lobby
    </button>
  </div>


  <!-- Cabeçalho -->
  <mat-card class="header-card">
    <div class="custom-header">
      <mat-icon class="card-icon" color="primary">sports_soccer</mat-icon>
      <h1 class="match-title">Partida de Futebol</h1>
    </div>
  </mat-card>

  <!-- Informações da Partida -->
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title class="section-title">
        <mat-icon class="card-icon" color="primary">info</mat-icon>
        Informações da Partida</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <div class="info-grid">
        <div class="info-item">
            <div class="info-icon-wrapper">
                <mat-icon class="info-icon">calendar_today</mat-icon>
            </div>
            <div class="info-content">
                <span class="info-label">DATA</span>
                <span class="info-value"> {{ matchData.date | date: 'dd/MM/yyyy' }} </span>
            </div>
        </div>
        
        <div class="info-item">
            <div class="info-icon-wrapper">
                <mat-icon class="info-icon">schedule</mat-icon>
            </div>
            <div class="info-content">
                <span class="info-label">HORÁRIO</span>
                <span class="info-value"> {{ matchData.startTime }}h - {{matchData.endTime}}h </span>
            </div>
        </div>
        
        <div class="info-item">
            <div class="info-icon-wrapper">
                <mat-icon class="info-icon">location_on</mat-icon>
            </div>
            <div class="info-content">
                <span class="info-label">LOCAL</span>
                <span class="info-value"> {{ matchData.place }} </span>
            </div>
        </div>

        <div class="info-item">
            <div class="info-icon-wrapper copy-icon-wrapper"
              matToolTip="Copiar código"
              matToolTipPosition="above"
              (click)="copyCode()">
              <mat-icon class="info-icon">content_copy</mat-icon>
            </div>
            <div class="info-content">
                <span class="info-label">CÓDIGO</span>
                <div class="match-code-display">
                    <span class="info-value"> {{ matchData.matchCode}} </span>
                </div>
            </div>
        </div>
        
        <div class="info-item">
            <div class="info-icon-wrapper">
                <mat-icon class="info-icon">person</mat-icon>
            </div>
            <div class="info-content">
                <span class="info-label">ORGANIZADOR</span>
                <span class="info-value"> {{ matchData.adminNickname}} </span>
            </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Lista de Jogadores -->
  <mat-card class="players-card">
    <mat-card-header>
      <mat-card-title class="section-title">
        <mat-icon class="card-icon" color="primary">groups</mat-icon>
        Lista de Jogadores ({{ matchData.soccerPlayers.length }})
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-list class="players-list">
        <mat-list-item *ngFor="let player of matchData.soccerPlayers" role="listitem" class="player-item">
          <div class="player-info">
            <mat-icon matListItemIcon>person</mat-icon>
            <span class="player-name"> {{ player.nickname }}
              <span *ngIf="player.id === getCurrentUserId()" class="me-badge">Eu</span>

              <span *ngIf="!matchData.isOwner && player.id === matchData.adminId" class="admin-badge">Admin</span>
            </span>
          </div>
          <div matListItemMeta class="payment-actions-group">   
            <mat-button-toggle 
              *ngIf="!(matchData.isOwner && player.id === getCurrentUserId())"
              class="payment-toggle-btn"
              [checked]="player.paid"
              (change)="togglePaymentStatus(player.id)"
              [disabled]="!matchData.isOwner"
            > 
                {{ player.paid ? 'PAGO' : 'PENDENTE' }}
            </mat-button-toggle>

            <button 
                mat-icon-button
                *ngIf="matchData.isOwner && player.id !== getCurrentUserId()"
                class="remove-player-btn"
                (click)="removePlayer(player.id, player.nickname)"
                title="Expulsar Jogador"
            >
                <mat-icon>delete</mat-icon> 
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <!-- Pagamento PIX -->
  <mat-card class="payment-card" *ngIf="matchData.isOwner">
    <mat-card-header>
      <mat-card-title class="section-title">
        <mat-icon class="card-icon" color="primary">key</mat-icon>
        Cadastro - Chave PIX</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <div class="pix-section">
        <form #pixForm="ngForm" class="pix-details-form" (ngSubmit)="setPixDetails(pixForm)">
          <div class="pix-key-section">
            <div class="form-column">
              <span class="key-type-label">TIPO DE CHAVE</span>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select
                  name="keyType"
                  ngModel
                  required
                  [ngModel]="matchData.pixKeyDetails?.keyType"
                  [disabled]="!isEditingPixDetails"
                >

                  <mat-option *ngFor="let option of keyTypesOptions" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            
              <span class="pix-key-label">CHAVE PIX</span>
              <mat-form-field appearance="outline" class="full-width">
                <input 
                  matInput
                  type="text" 
                  placeholder="Ex: 47984916823" 
                  name="keyValue"
                  required
                  [ngModel]="matchData.pixKeyDetails?.keyValue"
                  [disabled]="!isEditingPixDetails"
                >
                    <mat-icon matSuffix>key</mat-icon>
              </mat-form-field>
            </div>
            
            <div class="form-column">
              <span class="recipient-name-label">DESTINATÁRIO</span>
              <mat-form-field appearance="outline" class="full-width">
                <input 
                  matInput
                  type="text" 
                  placeholder="Ex: Erick Barbosa" 
                  name="recipientName"
                  ngModel
                  required
                  [ngModel]="matchData.pixKeyDetails?.recipientName"
                  [disabled]="!isEditingPixDetails"
                >
                <mat-icon matSuffix>inbox_text_person</mat-icon>
              </mat-form-field>
            
              <span class="recipient-city-label">CIDADE</span>
              <mat-form-field appearance="outline" class="full-width">
                <input 
                  matInput
                  type="text" 
                  placeholder="Ex: Joinville" 
                  name="recipientCity"
                  ngModel
                  required
                  [ngModel]="matchData.pixKeyDetails?.recipientCity"
                  [disabled]="!isEditingPixDetails"
                  >
                  <mat-icon matSuffix>location_city</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div class="pix-form-buttons">
            <button class="btn-save-pixDetails"
              mat-raised-button 
              *ngIf="isEditingPixDetails"
              color="primary" 
              type="submit"
              [disabled]="pixForm.invalid || loading"
            >
              <span *ngIf="!loadingPix">Salvar</span>
              <mat-spinner *ngIf="loadingPix" color="primary" diameter="15"></mat-spinner>
            </button>

            <button class="btn-edit-pixDetails"
              mat-raised-button 
              *ngIf="!isEditingPixDetails && matchData.pixKeyDetails"
              (click)="enablePixEditing()"
              color="accent" 
              type="button" 
            > 
              Editar
            </button>
          
            <button class="btn-cancel-pixDetails"
              mat-button 
              *ngIf="isEditingPixDetails && matchData.pixKeyDetails"
              (click)="cancelPixEditing()"
              type="button" 
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
      
    </mat-card-content>
  </mat-card>


  <mat-card class="qrcode-card">
    <mat-card-header>
      <mat-card-title class="section-title">
        <mat-icon class="card-icon" color="primary">qr_code_scanner</mat-icon>
        Pagamento - QR Code</mat-card-title>
    </mat-card-header>
    <div class="amount-section" *ngIf="matchData.isOwner">
      <span class="amount-label">Valor</span>
      <mat-form-field appearance="outline">
        <input 
          matInput
          type="string" 
          placeholder="Ex: 15.50" 
          name="amount"
          [(ngModel)]="amount"
          required
        >
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
    </div>

    <div class="qr-btn-section" *ngIf="matchData.isOwner">
      <button class="generate-qr-btn"
        mat-raised-button 
        type="submit"
        (click)="generateQrCode()"
      >
        <span *ngIf="!loadingQrCode">Gerar QR Code</span>
        <mat-spinner *ngIf="loadingQrCode"  color="primary" diameter="15"></mat-spinner>
      </button>
    </div>
    
        
    <div class="qr-code-container">
      <img 
        [src]="displayQrCodeUrl || 'assets/default-qrcode.png'" 
        alt="QR Code PIX" 
        class="qr-code-image"
      >
      <div *ngIf="!displayQrCodeUrl" class="qr-code-placeholder">
        QR Code está gerado aqui
      </div>
    </div>

    <p class="pix-info-mat-caption">Chave PIX do Organizador: {{ matchData.pixKeyDetails?.keyValue }}
      <button class="info-icon-wrapper copy-icon-wrapper" mat-icon-button color="accent" (click)="copyPixKeyValue()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </p>
  </mat-card>

  <div class="bottom-actions">
    <button mat-stroked-button color="warn" class="leave-match-btn" (click)="leaveMatch()">
      <mat-icon>exit_to_app</mat-icon>
      Sair da Partida
    </button>
  </div>
</div>